.vs/
API/bin/Debug/net8.0/secret.json
API/bin/Debug/net8.0/appsettings.json
API/bin/Release/net8.0/API.deps.json
API/bin/Release/net8.0/API.dll
API/bin/Release/net8.0/API.exe
API/bin/Release/net8.0/API.pdb
API/bin/Release/net8.0/API.runtimeconfig.json
API/bin/Release/net8.0/API.staticwebassets.runtime.json
API/bin/Release/net8.0/appsettings.Development.json
API/bin/Release/net8.0/appsettings.json
API/bin/Release/net8.0/Azure.Core.dll
API/bin/Release/net8.0/Azure.Identity.dll
API/bin/Release/net8.0/FluentEmail.Core.dll
API/bin/Release/net8.0/FluentEmail.Smtp.dll
API/bin/Release/net8.0/Humanizer.dll
API/bin/Release/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
API/bin/Release/net8.0/Microsoft.CodeAnalysis.CSharp.dll
API/bin/Release/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
API/bin/Release/net8.0/Microsoft.CodeAnalysis.dll
API/bin/Release/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
API/bin/Release/net8.0/Microsoft.Data.SqlClient.dll
API/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
API/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Design.dll
API/bin/Release/net8.0/Microsoft.EntityFrameworkCore.dll
API/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
API/bin/Release/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
API/bin/Release/net8.0/Microsoft.Extensions.Caching.Memory.dll
API/bin/Release/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
API/bin/Release/net8.0/Microsoft.Extensions.DependencyInjection.dll
API/bin/Release/net8.0/Microsoft.Extensions.DependencyModel.dll
API/bin/Release/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
API/bin/Release/net8.0/Microsoft.Extensions.Logging.dll
API/bin/Release/net8.0/Microsoft.Extensions.Options.dll
API/bin/Release/net8.0/Microsoft.Identity.Client.dll
API/bin/Release/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
API/bin/Release/net8.0/Microsoft.IdentityModel.Abstractions.dll
API/bin/Release/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
API/bin/Release/net8.0/Microsoft.IdentityModel.Logging.dll
API/bin/Release/net8.0/Microsoft.IdentityModel.Protocols.dll
API/bin/Release/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
API/bin/Release/net8.0/Microsoft.IdentityModel.Tokens.dll
API/bin/Release/net8.0/Microsoft.OpenApi.dll
API/bin/Release/net8.0/Microsoft.SqlServer.Server.dll
API/bin/Release/net8.0/Microsoft.Win32.SystemEvents.dll
API/bin/Release/net8.0/Mono.TextTemplating.dll
API/bin/Release/net8.0/secret.json
API/bin/Release/net8.0/Swashbuckle.AspNetCore.Swagger.dll
API/bin/Release/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
API/bin/Release/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
API/bin/Release/net8.0/System.CodeDom.dll
API/bin/Release/net8.0/System.Composition.AttributedModel.dll
API/bin/Release/net8.0/System.Composition.Convention.dll
API/bin/Release/net8.0/System.Composition.Hosting.dll
API/bin/Release/net8.0/System.Composition.Runtime.dll
API/bin/Release/net8.0/System.Composition.TypedParts.dll
API/bin/Release/net8.0/System.Configuration.ConfigurationManager.dll
API/bin/Release/net8.0/System.Drawing.Common.dll
API/bin/Release/net8.0/System.IdentityModel.Tokens.Jwt.dll
API/bin/Release/net8.0/System.Memory.Data.dll
API/bin/Release/net8.0/System.Runtime.Caching.dll
API/bin/Release/net8.0/System.Security.Cryptography.ProtectedData.dll
API/bin/Release/net8.0/System.Security.Permissions.dll
API/bin/Release/net8.0/System.Windows.Extensions.dll
API/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/de/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/es/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/it/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/publish/API.deps.json
API/bin/Release/net8.0/publish/API.dll
API/bin/Release/net8.0/publish/API.exe
API/bin/Release/net8.0/publish/API.pdb
API/bin/Release/net8.0/publish/API.runtimeconfig.json
API/bin/Release/net8.0/publish/appsettings.Development.json
API/bin/Release/net8.0/publish/appsettings.json
API/bin/Release/net8.0/publish/Azure.Core.dll
API/bin/Release/net8.0/publish/Azure.Identity.dll
API/bin/Release/net8.0/publish/FluentEmail.Core.dll
API/bin/Release/net8.0/publish/FluentEmail.Smtp.dll
API/bin/Release/net8.0/publish/Microsoft.Bcl.AsyncInterfaces.dll
API/bin/Release/net8.0/publish/Microsoft.Data.SqlClient.dll
API/bin/Release/net8.0/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
API/bin/Release/net8.0/publish/Microsoft.EntityFrameworkCore.dll
API/bin/Release/net8.0/publish/Microsoft.EntityFrameworkCore.Relational.dll
API/bin/Release/net8.0/publish/Microsoft.EntityFrameworkCore.SqlServer.dll
API/bin/Release/net8.0/publish/Microsoft.Extensions.Caching.Memory.dll
API/bin/Release/net8.0/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
API/bin/Release/net8.0/publish/Microsoft.Extensions.DependencyInjection.dll
API/bin/Release/net8.0/publish/Microsoft.Extensions.Logging.Abstractions.dll
API/bin/Release/net8.0/publish/Microsoft.Extensions.Logging.dll
API/bin/Release/net8.0/publish/Microsoft.Extensions.Options.dll
API/bin/Release/net8.0/publish/Microsoft.Identity.Client.dll
API/bin/Release/net8.0/publish/Microsoft.Identity.Client.Extensions.Msal.dll
API/bin/Release/net8.0/publish/Microsoft.IdentityModel.Abstractions.dll
API/bin/Release/net8.0/publish/Microsoft.IdentityModel.JsonWebTokens.dll
API/bin/Release/net8.0/publish/Microsoft.IdentityModel.Logging.dll
API/bin/Release/net8.0/publish/Microsoft.IdentityModel.Protocols.dll
API/bin/Release/net8.0/publish/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
API/bin/Release/net8.0/publish/Microsoft.IdentityModel.Tokens.dll
API/bin/Release/net8.0/publish/Microsoft.OpenApi.dll
API/bin/Release/net8.0/publish/Microsoft.SqlServer.Server.dll
API/bin/Release/net8.0/publish/Microsoft.Win32.SystemEvents.dll
API/bin/Release/net8.0/publish/secret.json
API/bin/Release/net8.0/publish/Swashbuckle.AspNetCore.Swagger.dll
API/bin/Release/net8.0/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
API/bin/Release/net8.0/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
API/bin/Release/net8.0/publish/System.Configuration.ConfigurationManager.dll
API/bin/Release/net8.0/publish/System.Drawing.Common.dll
API/bin/Release/net8.0/publish/System.IdentityModel.Tokens.Jwt.dll
API/bin/Release/net8.0/publish/System.Memory.Data.dll
API/bin/Release/net8.0/publish/System.Runtime.Caching.dll
API/bin/Release/net8.0/publish/System.Security.Cryptography.ProtectedData.dll
API/bin/Release/net8.0/publish/System.Security.Permissions.dll
API/bin/Release/net8.0/publish/System.Windows.Extensions.dll
API/bin/Release/net8.0/publish/web.config
API/bin/Release/net8.0/publish/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
API/bin/Release/net8.0/publish/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/System.Drawing.Common.dll
API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
API/bin/Release/net8.0/publish/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
API/bin/Release/net8.0/publish/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
API/bin/Release/net8.0/publish/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
API/bin/Release/net8.0/publish/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
API/bin/Release/net8.0/publish/wwwroot/3rdpartylicenses.txt
API/bin/Release/net8.0/publish/wwwroot/favicon.ico
API/bin/Release/net8.0/publish/wwwroot/index.html
API/bin/Release/net8.0/publish/wwwroot/main-OHKXIMJF.js
API/bin/Release/net8.0/publish/wwwroot/polyfills-FFHMD2TL.js
API/bin/Release/net8.0/publish/wwwroot/styles-BBURD7AU.css
API/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
API/bin/Release/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
API/bin/Release/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
API/bin/Release/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
API/bin/Release/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
API/bin/Release/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
API/bin/Release/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
API/bin/Release/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
API/bin/Release/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
API/bin/Release/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
API/bin/Release/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
API/bin/Release/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
API/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
API/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
API/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
API/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
API/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
API/obj/Release/net8.0/API.AssemblyInfo.cs
API/obj/Release/net8.0/API.AssemblyInfoInputs.cache
API/obj/Release/net8.0/API.assets.cache
API/obj/Release/net8.0/API.csproj.AssemblyReference.cache
API/obj/Release/net8.0/API.csproj.CoreCompileInputs.cache
API/obj/Release/net8.0/API.csproj.FileListAbsolute.txt
API/obj/Release/net8.0/API.csproj.Up2Date
API/obj/Release/net8.0/API.deps.json
API/obj/Release/net8.0/API.dll
API/obj/Release/net8.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Release/net8.0/API.genpublishdeps.cache
API/obj/Release/net8.0/API.genruntimeconfig.cache
API/obj/Release/net8.0/API.GlobalUsings.g.cs
API/obj/Release/net8.0/API.MvcApplicationPartsAssemblyInfo.cache
API/obj/Release/net8.0/API.MvcApplicationPartsAssemblyInfo.cs
API/obj/Release/net8.0/API.pdb
API/obj/Release/net8.0/API.sourcelink.json
API/obj/Release/net8.0/apphost.exe
API/obj/Release/net8.0/PublishOutputs.38fc2a71a7.txt
API/obj/Release/net8.0/staticwebassets.build.json
API/obj/Release/net8.0/staticwebassets.development.json
API/obj/Release/net8.0/staticwebassets.pack.json
API/obj/Release/net8.0/staticwebassets.publish.json
API/obj/Release/net8.0/ref/API.dll
API/obj/Release/net8.0/refint/API.dll
API/obj/Release/net8.0/staticwebassets/msbuild.API.Microsoft.AspNetCore.StaticWebAssets.props
API/obj/Release/net8.0/staticwebassets/msbuild.build.API.props
API/obj/Release/net8.0/staticwebassets/msbuild.buildMultiTargeting.API.props
API/obj/Release/net8.0/staticwebassets/msbuild.buildTransitive.API.props
